form{
    font-family: candal;
    background-color: blanchedalmond;
    top:5px;
    border:15px solid lightgray;
    padding: 5px;
    text-align: center;
    position:relative;

}

#welcome{
    font-family: candal;
    text-shadow: 2px 2px #ff0999;
    font-size: 84px;
    text-align: center;
    position:relative;
    
}

input[type=text], input[type=password] {
  font-family: candal;
  width: 20%;
  padding: 6px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 3px solid gray;
}


button {
  font-family: candal;
  background-color: palevioletred;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 3px solid gray;
  cursor: pointer;
  width: 20%;
}

button:hover {
  background-color: firebrick;
    
}

body{
    background-color: aquamarine;
    
}
.cancelbutton {
  width: auto;
  padding: 10px 18px;
}